<head>
  <link rel="stylesheet" href="../assets/styling/home/style_alt.css">
  <title>home4girls</title>
  <meta name="description" content="It's like Jon Huml, but it's at night..." />
</head>
<body class="center bg2 max">
<div id="main">
<h1 class="tab blink">**shameless pandering detected**</h1>
<div id="home">
<h1><a href="../index">home</a> <span class="line">|</span>
<a href="../feeds">post</a> <span class="line">|</span>
<a href="../about">find</a>
</div>
<h1>welcome to jon huml @ night</h1>
<h1>jon huml: a menace to society?</h1>
<h2>Clueless is a good movie, I'm not ashamed to say it.</h2>
<h2>Ladies, isn't it crazy?</h2>
<h2>I share all of your interests and opinions!!!</h2>
<h2>Yes! Every. Single. One.</h2>
<h2>Should we... go out? Or nah? </h2>
</div>
<footer id="footer">
<p><a href="http://jonhuml.com">go back to safety</a></p>
<span><img src="../assets/images/home/windows.gif"></span>
</footer>
</body>
