<head>
  <title>find</title>
  <style media="screen">
    p {
  white-space: initial;
  max-width: 550px;
}
  </style>
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
</head>
<body class="center bg2 max">
<div id="main">
<div id="home">
  <h2><a href="../../../../../index">home</a> <span class="line">|</span>
    <a href="../../../../../feeds">post</a> <span class="line">|</span>
  <a href="../../../../../about">find</a>
</div>
<h1> {{ page.title }}</h1>

{{ content }}
</div>
<footer id="footer">
  <img src="../../../../../assets/images/home/bar.gif">
  <p><a href="http://jonhuml.com">go back to safety</a></p>
  <span><img src="../../../../../assets/images/home/windows.gif"></span>
</footer>
